

.weather-container{
    padding: 10rem;
    border: 1px solid white;
   
    
    position: relative;
    background-color: rgb(255, 255, 255);
   border: 1px saddlebrown;
    margin: 0  auto;
}

@font-face {
    font-family: 'Mukta';
    src: url('/font/Mukta/Mukta-Bold.ttf') format('truetype'),
         url('/font/Mukta/Mukta-ExtraBold.ttf') format('truetype'),
         url('/font/Mukta/Mukta-ExtraLight.ttf') format('truetype'),
         url('/font/Mukta/Mukta-Light.ttf') format('truetype'),
         url('/font/Mukta/Mukta-Medium.ttf')format('truetype'),
         url('/font/Mukta/Mukta-Regular.ttf') format('truetype'),
         url('/font/Mukta/Mukta-SemiBold.ttf')format('truetype');
}
  
  body {
    font-family: 'Mukta', sans-serif; 
  }
   


.weather-post-container{
    margin: 0 auto;
/* text-align: center; */
    max-width: 30rem;
    max-height: 30rem;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #172A3A;
    
}

.city-container span{
    color: white;
}

.heading{
    position: relative;
    height: 5.2rem;
    
}

h2{
   color: white;
   text-align: center;
   padding-top: 2rem;
   /* text-align: center; */
}

.arrow-img{
    position: absolute;
    top:2rem;
    left: 1rem;
}


.weather-condition{
    color: white;
    text-align: center;
    margin-top: 0rem;
    position: relative;
    top: 30px;
    padding-top: 0rem;
}

.temperature-box{
    color: white;
}

/* .arrow-img{
    padding-left: 2rem;
    margin-top: 3rem;
} */

.city-container{
    display: flex;
    justify-content: center;
    gap:0.5rem;
}

.hill-img{
position: absolute;
bottom:0rem;
left: 0rem;
}

.cloud-img{
    margin-top: 2rem;
    margin-left: 9rem;
}


.temperature-box{
    margin-top: 0.5rem;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

.weather-info-container{
    display: flex;
    border-radius:  0px 0px 10px 10px  ;
    height: 4rem;
    position: relative;
    background-color: #508991;
}

.temperature-container{
    display: flex;
    flex: 1;
    gap:0.9rem;
    border-top: 1px white;
    justify-content: center;
   
}



.humidity-container{
    display: flex;
    flex: 1;
    gap:0.9rem;
    border-left: 1px solid white;
    border-top: 1px white;
    justify-content: center;
   
}

.temperature-description p{
    position: absolute;
    top: 17px;
    color: white;
}

.temperature-description span{
    position: absolute;
    color: white;
    top: 17px;
}




.temperature-icon{
    width: 28px;
    height: 28px;
    padding-top: 22px;
}

.humidity-img{
    width: 15px;
    height: 20px;
    padding-top: 22px;
}

.humidity-description p{
    position: absolute;
    top: 17px;
    color: white;
}


.humidity-description span{
    position: absolute;
    top: 17px;
    color: white;
}
/* 
.humidity-icon{
    margin-right: 30px;
}

.humidity-description{
    margin-right: 50px;
} */

.humidity-description{
    margin-right: 80px;
}

#weather-picture{
    margin: 0 auto;
    
    display: flex;
    width: 200px;
    justify-content: center;
}

.temperature-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.temperature-box span{
    font-size: 32px;
    position: relative;
    top:32px;
}


.temperature-box p{
    font-size: 32px;

} 

